$primary-font: 'BPG-Arial', sans-serif;
$secondary-font: 'BPG-Arial-Caps', sans-serif;

$primary-color: #ef5f60;
$secondary-color: #4d4d4d;

$background-primary: #ffffff;
$background-secondary: #f1f4f5;
